{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Stemiot Innovations</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{% static 'assets/img/logo1.png' %}" rel="icon">
  <link href="{% static 'assets/img/logo1.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">


</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">


              <img src="{% static 'assets/img/logo1.png' %}" alt="">
                <h1 class="sitename">STEMIOT SOFTWARES  </h1>



      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Home</a></li>
          <li><a href="#about">About</a></li>
            <li class="dropdown"><a href="#services"><span>Services</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">Application Development</a></li>
                  <li><a href="#">Web Development</a></li>
                  <li><a href="#">Database Creation and Management</a></li>
                  <li><a href="#">Graphic Design</a></li>
                  <li><a href="#">Cybercafé Services</a></li>
                </ul>
            </li>
            <li><a href="#team">Team</a></li>

          <li><a href="#contact">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <img src="{% static 'assets/img/hero-bg.jpg' %}" alt="" data-aos="fade-in">

      <div class="container text-center" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <h2>Welcome to Stemiot Softwares</h2>
            <p>We specialize in delivering cutting-edge technology solutions tailored to meet your business needs.
                From system development, website design, and application development to cybercafe services and beyond,
                we provide innovative, reliable, and scalable tech solutions.</p>
            <a href="#about" class="btn-get-started">Get Started</a>
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>About</h2>
      </div><!-- End Section Title -->

      <div class="container">

          <p style="font-size: 24px;">Stemiot Softwares is a forward-thinking tech company driven by a passion for innovation, problem-solving, and digital transformation.
              We specialize in building intelligent, user-centered software and web solutions that address real-world challenges across industries.
              From intuitive mobile and web applications to secure database systems and automation tools, our mission is to empower businesses, institutions, and communities through technology.
              At Stemiot, we believe that great software should not only function — it should inspire, simplify, and create lasting impact.</p>

          <br><br>

        <div class="row gy-5">

          <div class="content col-xl-5 d-flex flex-column" data-aos="fade-up" data-aos-delay="100">
            <h3>Stemiot Softwares Project Showcase</h3>
            <p style="font-size: 24px">

                Our diverse portfolio showcases the creativity, collaboration, and technical expertise that drive our mission forward.
                Here are some of the innovative projects we’ve delivered so far.
            </p>
            <a href="#" class="about-btn align-self-center align-self-xl-start"><span>About us</span> <i class="bi bi-chevron-right"></i></a>
          </div>

          <div class="col-xl-7" data-aos="fade-up" data-aos-delay="200">
            <div class="row gy-4">

              <div class="col-md-6 icon-box position-relative">
                  <img src="{% static 'assets/img/projects-logo/gender_equity.png' %}" alt="" width="20%">
                <h4><a href="" class="stretched-link">GenderEquity</a></h4>
                <p>A platform to raise awareness and fight against gender-based violence by providing reporting tools,
                    educational content, and support services.
 </p>
              </div><!-- Icon-Box -->

              <div class="col-md-6 icon-box position-relative">
                  <img src="{% static 'assets/img/projects-logo/swiftcare.jpg' %}" alt="" width="25%">
                <h4><a href="https://swiftcaremedical.onrender.com" class="stretched-link">Swiftcare</a></h4>
                <p>A hospital management system aiming to streamline operations, including patient registration,
                    appointment scheduling, and medical record management, enhancing service delivery in healthcare settings.</p>
              </div><!-- Icon-Box -->



              <div class="col-md-6 icon-box position-relative">
                <i class="bi bi-shield-lock"></i>
                <h4><a href="" class="stretched-link">TransJustice</a></h4>
                <p>TransJustice is a digital platform designed to enhance transparency and access to justice
                    for victims within police stations. It aims to digitize the Occurrence Book (OB), enabling efficient
                    reporting, case tracking, and accountability.
</p>
              </div><!-- Icon-Box -->

                <div class="col-md-6 icon-box position-relative">
                  <img src="{% static 'assets/img/projects-logo/filoarts.png' %}" alt="" width="15%">
                <h4><a href="https://filoartsplus.onrender.com" class="stretched-link">FiloArts</a></h4>
                <p>An innovative platform for visual artists to display and sell their artwork online, connecting
                    creatives with potential buyers and art enthusiasts.</p>
              </div><!-- Icon-Box -->

            </div>
          </div>

        </div>

      </div>

    </section><!-- /About Section -->


    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Services</h2>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-laptop"></i></div>
              <h4><a href="" class="stretched-link">Application Development</a></h4>
              <p>Stemiot Softwares specializes in developing robust and scalable applications tailored for both desktop and mobile platforms.
                  We focus on functionality, user experience, and performance to deliver solutions that meet specific business or personal needs.
</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-code-slash"></i></div>
              <h4><a href="" class="stretched-link">Web Development</a></h4>
              <p>Our web development services cover the design and creation of interactive, responsive, and visually appealing websites.
                  We build dynamic web solutions using modern technologies to ensure seamless access across devices and browsers.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi-database"></i></div>
              <h4><a href="" class="stretched-link">Database Management</a></h4>
              <p>Stemiot Softwares offers comprehensive database services, including the design, creation, and maintenance of secure and efficient databases.
                  We ensure structured data storage, optimized performance, and reliable backup systems to support your application's functionality and business intelligence needs.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-printer"></i></div>
              <h4><a href="" class="stretched-link">Cybercafé Services</a></h4>
              <p>Stemiot Softwares also offers essential cybercafé services including printing, photocopying, scanning, document editing,
                  online form assistance, branding, and general IT support.
                  We aim to provide fast, affordable, and reliable digital services to support both individual and business needs.</p>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->


{##}
{#    <!-- Team 2 Section -->#}
{#    <section id="team" class="team-1 section">#}
{##}
{#      <!-- Section Title -->#}
{#      <div class="container section-title" data-aos="fade-up">#}
{#        <h2>Team</h2>#}
{#        <p>Our Hardworking <span class="description-title">Team</span></p>#}
{#      </div><!-- End Section Title -->#}
{##}
{#      <div class="container">#}
{##}
{#        <div class="row gy-4">#}
{##}
{#          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">#}
{#            <div class="member">#}
{#              <img src="{% static 'assets/img/team/CEO.jpg' %}" class="img-fluid" alt="">#}
{#              <div class="member-info">#}
{#                <div class="member-info-content">#}
{#                  <h4>Stephen Otieno</h4>#}
{#                  <span>Chief Executive Officer</span>#}
{#                  <div class="social">#}
{#                    <a href=""><i class="bi bi-twitter-x"></i></a>#}
{#                    <a href=""><i class="bi bi-facebook"></i></a>#}
{#                    <a href=""><i class="bi bi-instagram"></i></a>#}
{#                    <a href=""><i class="bi bi-linkedin"></i></a>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div><!-- End Team Member -->#}
{##}
{#          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">#}
{#            <div class="member">#}
{#              <img src="{% static 'assets/img/team/team-2.jpg' %}" class="img-fluid" alt="">#}
{#              <div class="member-info">#}
{#                <div class="member-info-content">#}
{#                  <h4>Sarah Jhonson</h4>#}
{#                  <span>Product Manager</span>#}
{#                  <div class="social">#}
{#                    <a href=""><i class="bi bi-twitter-x"></i></a>#}
{#                    <a href=""><i class="bi bi-facebook"></i></a>#}
{#                    <a href=""><i class="bi bi-instagram"></i></a>#}
{#                    <a href=""><i class="bi bi-linkedin"></i></a>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div><!-- End Team Member -->#}
{##}
{#          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">#}
{#            <div class="member">#}
{#              <img src="{% static 'assets/img/team/team-3.jpg' %}" class="img-fluid" alt="">#}
{#              <div class="member-info">#}
{#                <div class="member-info-content">#}
{#                  <h4>William Anderson</h4>#}
{#                  <span>CTO</span>#}
{#                  <div class="social">#}
{#                    <a href=""><i class="bi bi-twitter-x"></i></a>#}
{#                    <a href=""><i class="bi bi-facebook"></i></a>#}
{#                    <a href=""><i class="bi bi-instagram"></i></a>#}
{#                    <a href=""><i class="bi bi-linkedin"></i></a>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div><!-- End Team Member -->#}
{##}
{#          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">#}
{#            <div class="member">#}
{#              <img src="{% static 'assets/img/team/team-4.jpg' %}" class="img-fluid" alt="">#}
{#              <div class="member-info">#}
{#                <div class="member-info-content">#}
{#                  <h4>Amanda Jepson</h4>#}
{#                  <span>Accountant</span>#}
{#                  <div class="social">#}
{#                    <a href=""><i class="bi bi-twitter-x"></i></a>#}
{#                    <a href=""><i class="bi bi-facebook"></i></a>#}
{#                    <a href=""><i class="bi bi-instagram"></i></a>#}
{#                    <a href=""><i class="bi bi-linkedin"></i></a>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div><!-- End Team Member -->#}
{##}
{#        </div>#}
{##}
{#      </div>#}
{##}
{#    </section><!-- /Team 2 Section -->#}





    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p><span>Need Help?</span> <span class="description-title">Contact us<br></span></p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">



        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Address</h3>
                <p>Kisii, Kenya</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Us</h3>
                <p>+254 115 598 800</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <p>engineerotienoduor14@gmail.com</p>
              </div>
            </div><!-- End Info Item -->

          </div>

          <div class="col-lg-8">
            <form action="/clients/" method="post" class="" data-aos="fade-up" data-aos-delay="200">
                {% csrf_token %}
{#              <div class="row gy-4">#}

                <div class="col-md-6">
                    <label for="name"><b>Name</b></label>
                  <input type="text" name="client_name" class="form-control" placeholder="Enter full name" required="">
                </div>
                <br>

                <label for="email"><b>Email</b></label>
                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="client_email" placeholder="abc123@domain.com" required="">
                </div>
                <br>

                <label for="phone"><b>Phone</b></label>
                <div class="col-md-6 ">
                  <input type="number" class="form-control" name="client_phone" placeholder="+254 123 456 789" required="">
                </div>
                <br>



                <div class="col-md-12">
                    <label for="message"><b>Message</b></label>
                  <textarea class="form-control" name="client_message" rows="6" placeholder="Message" required=""></textarea>
                </div>
                <br><br>

                <div class="col-md-12 text-center">

                  <button style="color: white; background-color: #EA385AFF; border-radius: 8px; height:25%; border:none;" type="submit">Send Message</button>
                </div>


            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->



  </main>

  <footer id="footer" class="footer dark-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sitename">Stemiot Innovations</span>
          </a>
          <p>We can be reached through our social media handles for even faster operation and incredible services.
              Your satisfaction is our top priority.</p>

          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Product Management</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Graphic Design</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>Moi Avenue</p>
          <p>Nairobi</p>
          <p>Kenya</p>
          <p class="mt-4"><strong>Phone:</strong> <span>+254 115 5988 00</span></p>
          <p><strong>Email:</strong> <span>info@stemiotinnovations.com</span></p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Stemiot Softwares</strong> <span>All Rights Reserved</span></p>
      <div class="credits">

        Designed by <a href="https://stemiotsoftwares.onrender.com" style="color: white; font-weight: bold">StemiotSoftwares</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->

  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>